  # Python
  venv/
  __pycache__/
  *.pyc
  venv/
  
 

  # Node.js
  node_modules/
  dist/
  build/
  .env

 ##   mmhstle-new_features ##

  # OS-specific
  .DS_Store
  Thumbs.db

  backend/blockchain/__pycache__/block.cpython-312.pyc
  backend/blockchain/__pycache__/blockchain.cpython-312.pyc
  backend/blockchain/__pycache__/vote.cpython-312.pyc
  *.pyc
  
  # OS-specific
  .DS_Store
  Thumbs.db
  
